@import "tailwindcss";
@plugin 'lightswind/plugin';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* custom breakpoint */

@theme {
  --breakpoint-8xl: 1300px;
  --breakpoint-3xl: 1600px;
}

body {
  font-family: var(--font-urbanist);
}
@theme inline {
  --color-background: var(--background);
  --color-dark-bg-secondary: var(--background-secondary-dark);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --font-urbanist: var(--font-urbanist);
  --font-poppins: var(--font-poppins);
  --font-raleway: var(--font-raleway);
  --font-playfair: var(--font-playdisplay);
  --color-accent: var(--accent);
  --color-text-dark-primary: var(--text-dark-primary);
  --accent-hover: var(--accent-hover);
  --color-text-secondary-dark: var(--text-secondary-dark);
  --color-accent-hover: var(--accent-hover);
  --animate-pulse: pulse var(--duration) ease-out infinite;
  --color-muted: var(--muted) ;
  --color-muted-foreground: var(--muted-foreground);
  @keyframes pulse {
    0%,
    100% {
      boxshadow: 0 0 0 0 var(--pulse-color);
    }
    50% {
      boxshadow: 0 0 0 8px var(--pulse-color);
    }
  }
}
/* #fcfff2 */
:root {
  --background: #f8fafc;
  --primary: #0300ff;
  --primary-hover: oklch(0.78 0.18 75);
  --text-primary: #1f2937;
  --text-secondary: #f9f9f9;
  /* --accent: #facc15; */
  --accent-hover:  oklch(0.78 0.18 75);
  --accent: oklch(0.96 0.04 85);
  --accent-foreground: oklch(0.18 0.01 30);
  /* Muted: Steel (For bios and secondary text) */
  --muted: oklch(0.95 0.005 30);
  --muted-foreground: oklch(0.42 0.01 30);
}

.dark {
  --background: #0a1929;
  --background-secondary-dark: #1e293b;
  --primary: #0a121f;
    --primary-hover: oklch(0.78 0.18 75);
  --text-primary: #f1f5f9;
  --text-secondary: #cbd5e1;
  --accent: #71f9a3;
  --accent-hover: #0d9276;
}

/* light theme text color backup check combo */
/* --text-primary: #0f172a;
  --text-secondary: #64748b; 
  --text-tertiary: #94a3b8; 
  --accent: #ff6b6b;
    --accent-hover: #ff5252;

    for dark theme
      --text-dark-primary: #f1f5f9;
  --text-secondary-dark: #cbd5e1;
  --text-tertiary-dark: #94a3b8;
  --accent: #ffa500;
  */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.light .rdrCalendarWrapper {
  /* background-color: rgb(143, 13, 236); light mode */
}

.dark .rdrCalendarWrapper {
  background-color: #1e293b;
  color: white;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: #9ca3af;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
  background: #000;
}





