@import 'tailwindcss';
@plugin 'lightswind/plugin';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* custom breakpoint */

@theme {
  --breakpoint-lxl: 1300px;
  --breakpoint-3xl: 1600px;
}

body {
  font-family: var(--font-urbanist);
}
@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --font-urbanist: var(--font-urbanist);
  --font-poppins: var(--font-poppins);
  --color-accent: var(--accent);
  --color-text-dark-primary: var(--text-dark-primary);
  --accent-hover: var(--accent-hover);
  --color-text-secondary-dark: var(--text-secondary-dark);
  --color-accent-hover: var(--accent-hover);
}
/* #fcfff2 */
:root {
  --background: #f8fafc;
  --primary: #1a5f0e;
  --text-primary: #1f2937;
  --text-secondary: #f9f9f9;
  --accent: #71f9a3;
  --accent-hover: #0d9276;
}

.dark {
  --background: #0a1929;
  --primary: #4ade80;
  --text-dark-primary: #f1f5f9;
  --text-secondary-dark: #cbd5e1;
  --accent: #71f9a3;
  --accent-hover: #0d9276;
}
